<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title GTM Platform OAuth2 Example
    body
        if user
            .start
                span
                    a(href="/") Try again
            .user
                pre
                    code= user
        else
            .login
                a(href="/login") Login